body{
    background-color: #000000;
    margin: 0 auto;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    background-color: rgb(255, 189, 35);
}

.frmlogin{
    background-color: #bb1155;
    width: 350px;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 4px 4px 2px 2px #f41c00;
    color: white;
}

.al{
  color: white;
    margin-top: 10px;
}

